<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Jake has been a musician since 5 years old, playing piano and violin.  He got his start with audio engineering in high school, operating a mobile studio recording local bands and talent.  For the past 10 years he has been collaborating with artists to write original songs, throw events, and DJ college parties and club events.  After going back to school to finish his degree in music, he is now looking for opportunities in both music production and performance fields.</p>
</div><!--//summary-->
</section><!--//section-->
