<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
<ul>
  <li>10 years experience in the music industry</li>
  <li>UCSD Graduate with a degree in ICAM Computer Music</li>
  <li>Started a club for music production at UCSD, teaching Computer Music to fellow students</li>
  <li>Professional Certificate in Audio Engineering from Musicians Institute</li>
  <li>Trained on SSL 4000 G+ and Neve consoles</li>
  <li>Pro Tools certified, extensive experience with Ableton Live & Logic Pro</li>
  <li>Experienced Producer/DJ</li>
  <li>Studio experience and set-up: miking amps, instruments, drums, vocals, rooms. Recording, mixing and mastering music</li>
  <li>Live sound experience: set-up small, large, and turbo systems. FOH, monitoring, and stage-hand</li>
  <li>Soldering, building ¼” and XLR cables from scratch</li>
  <li>Experience in video production for social media advertising</li>
  <li>Professional graphics & web designer, proficient in Adobe Photoshop and HTML/CSS</li>
</ul>
</div><!--//summary-->
</section><!--//section-->
