 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BA in ICAM Computer Music</h4>
    <h5 class="meta">UC San Diego</h5>
    <div class="time">2009 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Professional Certificate in Audio Engineering</h4>
    <h5 class="meta">Musicians Institute</h5>
    <div class="time">2010-2011</div>
</div><!--//item-->
</div><!--//education-container-->
