<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Laser Show Operator</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Lasertainment Productions</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for picking up, delivering, and striking laser gear for music events including Insomniac festivals and LED events.  In charge of set-up logistics and planning as well as directing stage-hands to implement schematics.  Designing custom looks for each venue and live operating the equipment during show hours.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Live Sound Technician</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Still Listening Productions</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Set up and soundchecked small and medium sound systems for DJs/Performers, as well as managing gear transitions during events.  Responsible for tranporting gear to and from venue.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Live Sound Technician</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">UC San Diego Tech Services</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for live mixing bands and DJs while operating front-of-house.  Managed monitoring and stage transitions during events, including crew management for setup and strike shifts.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant Engineer</h3>
                            <div class="time">2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Jeff Trott (Producer for Sheryll Crow, Stevie Nicks)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assistant engineer work for professional producer (Sheryl Crow, Stevie Nicks).  Experience with editing/tuning vocal tracks, instrument sound design, and studio set-up</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
